.git
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.gitignore
README.md
.DS_Store
Thumbs.db
db.sqlite3
media/
static/
report/
*.sqlite3