{% extends "res/base.html" %}
{% block content %}
<h1 class="text-center">Меню</h1>
<div class="row">
    {% for cat in categories %}
    <div class="col-md-3 mb-3">
        <div class="card h-100">

            {% if cat.image %}
            <img src="{{ cat.image.url }}" class="card-img-top" alt="{{ cat.name }}">
            {% endif %}
            <div class="card-body">
                <h3 class="text-center">{{ cat.name|default:cat.name }}</h3>
                <p class="text-center">{{ cat.title|default:cat.name }}</p>
                <div class="text-center">
                    <a href="{% url 'res:category_detail' cat.pk %}" class="btn btn-sm btn-outline-primary">Открыть</a>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
